# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# Custom
elpa/
ac-comphist.dat
backups/
auto-save-list
/.org-id-locations
/bookmarks
/eln-cache
/history
/org-roam.db
/places
/recentf
/transient/
/var/
/.emacs.desktop
/.emacs.desktop.lock
/pomm
/eshell/
